@charset "utf-8";

/* TIPOGRAFÍAS */
@font-face {
    font-family: 'titillium_webbold';
    src: url('titilliumweb-bold-webfont.woff2') format('woff2'),
         url('titilliumweb-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium_websemibold';
    src: url('titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('roboto-light-webfont.woff2') format('woff2'),
         url('roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* FIN TIPOGRAFÍAS */

/* GENERAL */

*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

body{
    color: #3A3A3A;
    margin: auto;
    margin-top: 5.2em;
}

main{
    text-align: center;
    margin: auto;
    margin-top: -6em;
}

footer{
    background-color: #f8f8f8; 
    color: #8ebfbe;
}

/* GENERAL */

/* HEADER */

header{
    color: #336699;
    background-color: #fafafa;
    width: 100%;
    height: 7em;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 5;
}

header nav ul{
    width: 100%;
    height: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_izquierda,
#header_derecha{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

#contenedor_titulo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#titulo_seccion{
    font-family: 'titillium_webbold';
    font-size: 3em;
}

p.titulo_menu{
    display: none;
}

li.header img:hover,
li.header img:active {
    opacity: 0.5;
}

/* HEADER */



/* MAIN */

/* Perfil - Presentación */

#perfil{
    position: relative;
    padding-top: 5vh;
    background-color: #f7f7f7;
    border-bottom: solid;
    border-color: #333399;
    height: 100vh;
}

#presentacion{
    margin: 0em 3em 0em 3em;
}

#presentacion h1 {
    color: #FF6633;
    font-family: 'titillium_webbold', sans-serif;
    font-size: 5em;
    margin: 2.2em 1.5em 0.2em 1.5em;
    line-height: 1.2em;
}

#presentacion h1 span{
    font-family: 'titillium_websemibold', sans-serif;
    color: #FF9966;
}

#presentacion h2{
    font-family: 'robotolight', sans-serif;
    font-size: 3em;
    margin: auto;
    color: #FF6633;
}

#presentacion figure img{
    margin: 7em 3em 2em 3em;
    height: auto;
    width: 70%;
    border-radius: 1.5em;
    border-style: solid;
    border-width: 0.08em;
    border-color: #99CC33;
}

#presentacion figcaption p{
    font-family: 'robotolight', sans-serif;
    font-size: 2em;
}

/* Perfil - Datos */

#datos{
    margin-top: 9em;
    width: 100%;
}

#datos nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 5em;
    padding-right: 5em;
}

#datos a{
    font-family: 'robotolight', sans-serif;
    font-size: 2.4em;
    margin-bottom: 1.5em;
}

#datos a:first-child{
    border-right-style: solid;
    border-right-width: 0.05em;
    border-right-color: #333399;
    padding-right: 0.5em;
}

#datos a:last-child{
    padding-left: 0.5em;
}

/* Conocimientos */

#conocimientos{
    padding-top: 6em;
    background-color: #f0f0f0;
}

ul.conocimientos{
    width: 70%;
    max-width: 70%;
    display: inline-block;
    margin-top: 5vh;
    margin-bottom: 8vh;
}

li.fila_conocimiento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.7em;
}

ul.conocimientos li figure{
    display:inline-flex;  
    align-items: center;
}

ul.conocimientos figcaption{
    padding-left: 0.6em;
    font-family: 'robotoregular', sans-serif;
    font-size: 2.5em;
}

div.unacara,
div.doscaras,
div.trescaras{
    width: 149px;
    height: 43px;
    background-image: url("../img/3caras.png");
    background-repeat: no-repeat;
}

div.unacara{
    background-position: -105px;
}

div.doscaras{
    background-position: -53px;
}

hr.divisor_categoria{
    width: 75%;
    margin: 1em 0em 1em 12.5%;
    height: 3px;
    border-style: solid;
    border-color: #333399;
}
        
hr.separador_subseccion{
    width: 20%;
    margin-left: 40%;
    height: 2px;
    border-style: solid;
    border-color: #333399;
}        
/* Formación */


#formacion{
    position: relative;
    background-color: #f0f0f0;
    z-index: 3;
    padding-bottom: 3em;
    padding-top: 5em;
    border-bottom-style: solid;
    border-bottom-color: #333399;
}

#formacion::before {
    /* línea vertical */
    content: '';
    position: absolute;
    top: 9em;
    height: 70%;
    width: 0.2em;
    background: #99CC66;
    transform: translate(-50%);
}

div.contenedor_timeline{
    position: relative;
    margin: 3.5em;
}

div.circulo_timeline{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

div.circulo_timeline figure{
    display: inline-flex;
    align-items: center;
    transform: translate(26%);
}

figcaption.fecha{
    margin-left: 1.7em;
    font-family: "robotolight", sans-serif;
    font-size: 1.4em;
}

#primera_esfera{
    transform: translate(-27%);
}

figcaption.fecha_izquierda{
    margin-right: 1.8em;
    font-family: "robotolight", sans-serif;
    font-size: 1.4em;
}

div.contenido_timeline{
    position: relative;
    width: 40%;
    border-width: 0.1em;
    border-color: #333399;
}

div.contenido_izquierda{
    border-left-style: solid;
    margin-left: 1em;
    text-align: left;
    padding-left: 2em;
}

div.contenido_derecha{
    border-right-style: solid;
    margin-left: 60%;
    text-align: right;
    padding-right: 2em;
}

div.contenido_timeline h2{
    color: #FF6633;
    font-family: "robotobold", sans-serif;
    font-size: 2.4em;
    padding-bottom: 0.2em;
    line-height: 1.2em;
}

div.contenido_timeline h3{
    font-family: "robotolight", sans-serif;
    font-size: 1.8em;
    padding-bottom: 0.4em;
}

div.contenido_timeline P{
    font-family: "robotolight", sans-serif;
    font-size: 1.4em;
}

.shake{
    -webkit-animation-name: shake;
    -webkit-animation-duration: 7s;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.shake:nth-child(2){
    -webkit-animation-delay: 2s;
}

.shake:nth-child(5){
    -webkit-animation-delay: 3s;
}

.shake:nth-child(4){
    -webkit-animation-delay: 4s;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: rotate(0deg); } 
    3% { -webkit-transform: rotate(-7deg); }
    6% { -webkit-transform: rotate(7deg); }
    9%, 100% { -webkit-transform: rotate(0deg); }
}

/* Proyectos */

#proyectos{
    background-color: #f7f7f7;
    z-index: 2;
    padding-top: 10em;
    padding-bottom: 6em;
    border-bottom-style: solid;
    border-bottom-color: #333399;
}

#contenedor_proyectos{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
}

div.contenido_filas{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.contenido_filas div{
    border-radius: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
}

div.proyectos_izquierda{
    width: 49%;
    height: auto;
    margin-right: 1%;
    position: relative;
}

div.proyectos_derecha{
    width: 49%;
    height: auto;
    margin-left: 1%;
    position: relative;
}

div.proyectos_abajo{
    height: 48%;
    width: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

div.proyectos_arriba{
    height: 48%;
    width: auto;
    position: absolute;
    top: 0;
    width: 100%;
}


.proyectos_datos_extra{
    display: none;
}


div.proyectos_grandes{
    -webkit-box-shadow: 3px 3px 9px 3px rgba(138,138,138,0.73);
    -moz-box-shadow: 3px 3px 9px 3px rgba(138,138,138,0.73);
    box-shadow: 3px 3px 9px 3px rgba(138,138,138,0.73);
    color: #efefef;
    background-color: #adadad;
    padding-top: 16%;
    padding-bottom: 3%;
}

div.proyectos_grandes h4{
    font-family: "robotobold", sans-serif;
    font-size: 2.4em;
}

div.proyectos_grandes h5{
    font-family: "robotolight", sans-serif;
    font-size: 1.8em;
}

div.proyectos_grandes h6{
    font-family: "robotolight", sans-serif;
    font-size: 1.8em;
    margin-top: 5em;
}

div.proyectos_grandes p{
    font-family: "robotolight", sans-serif;
    font-size: 1.6em;
}



div.proyectos_medianos{
    -webkit-box-shadow: 3px 3px 9px 3px rgba(138,138,138,0.73);
    -moz-box-shadow: 3px 3px 9px 3px rgba(138,138,138,0.73);
    box-shadow: 3px 3px 9px 3px rgba(138,138,138,0.73);
    color: #efefef;
    background-color: #cccccc;
    padding-top: 5%;
    padding-bottom: 3%;
}

div.proyectos_medianos h4{
    font-family: "robotobold", sans-serif;
    font-size: 1.7em;
}

div.proyectos_medianos h5{
    font-family: "robotolight", sans-serif;
    font-size: 1.6em;
}

div.proyectos_medianos h6{
    font-family: "robotolight", sans-serif;
    font-size: 1.6em;
    margin-top: 2em;
}

div.proyectos_medianos p{
    font-family: "robotolight", sans-serif;
    font-size: 1.4em;
}


div.proyectos_chicos{
    -webkit-box-shadow: 3px 3px 9px 3px rgba(138,138,138,0.73);
    -moz-box-shadow: 3px 3px 9px 3px rgba(138,138,138,0.73);
    box-shadow: 3px 3px 9px 3px rgba(138,138,138,0.73);
    color: #efefef;
    background-color: #ebebeb;
    padding-top: 5%;
    padding-bottom: 3%;
    width: 48%;
}

div.proyectos_chicos_alineados{
    display: flex;
    justify-content: space-between;
}

div.proyectos_chicos h4{
    font-family: "robotobold", sans-serif;
    font-size: 1.3em;
    padding: 0em 0.5em 0em 0.5em;
}

div.proyectos_chicos h5{
    font-family: "robotolight", sans-serif;
    font-size: 1.4em;
    margin-bottom: 4.2em;
    padding: 0em 0.5em 0em 0.5em;
}

div.proyectos_chicos h6{
    font-family: "robotolight", sans-serif;
    font-size: 1.4em;

}

div.proyectos_chicos p{
    font-family: "robotolight", sans-serif;
    font-size: 1.3em;
    width: 100%;
    position: absolute;
    bottom: 0.5em;
    text-align: center;
    padding: 0em 0.5em 0em 0.5em;
}

#h6_paracaidas,
#h6_enlalluvia{
    padding: 0em 0.5em 0em 0.5em;
    font-size: 1.8em;
    margin-top: 3.7em;
}

#p_paracaidas,
#p_enlalluvia{
    font-size: 1.4em;
}


#hacerfuego_proyectos{
    background-image: url(../img/hacerfuego_proyectos.jpg);
}

#cactusenserie_proyectos{
    background-image: url(../img/cactusenserie_proyectos.jpg);
}

#tiempoausente_proyectos{
    background-image: url(../img/tiempoausente_proyectos.jpg);
}

#tourette_proyectos{
    background-image: url(../img/tourette_proyectos.jpg);
}

#yogui_proyectos{
    background-image: url(../img/yogui_proyectos.jpg);
}

#hacefeliz_proyectos{
    background-image: url(../img/hacefelizaungato_proyectos.jpg);
}

#virus_proyectos{
    background-image: url(../img/virus_proyectos.jpg);
}

#doblefantasia_proyectos{
    background-image: url(../img/doblefantasia_proyectos.jpg);
}

#seminario_proyectos{
    background-image: url(../img/seminario_proyectos.jpg);
}

#paraiso_proyectos{
    background-image: url(../img/paraiso_proyectos.jpg);
}

#paracaidas_proyectos{
    background-image: url(../img/paracaidas_proyectos.jpg);
}

#enlalluvia_proyectos{
    background-image: url(../img/enlalluvia_proyectos.jpg);
}

#suenaluz_proyectos{
    background-image: url(../img/suenaluz_proyectos.jpg);
}

#voluntariado_proyectos{
    background-image: url(../img/voluntariado_proyectos.jpg);
}

#dataentry_proyectos{
    background-image: url(../img/dataentry_proyectos.jpg);
}

/* Portfolio */

#portfolio{
    background-color: #f0f0f0;
    z-index: 2;
    border-bottom-style: solid;
    border-bottom-color: #333399;
    padding-top: 10em;
    padding-bottom: 6em;
    font-family: "robotobold", sans-serif;
    position: relative;
    height: 100vh;
}

img.portfolio_imagenes{
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    margin-bottom: 2em;
    opacity: 1;
}

figure.portfolio_proyectos{
    display: table;
    border-color: #99CC66;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1.5em;
    margin: 0% 10% 0% 10%;
    background-color: #f3f3f3;
}

.portfolio_proyectos img,
.portfolio_proyectos figcaption{
    display: table-row;
    vertical-align: bottom;
    text-align: left;
}

.portfolio_proyectos_texto a,
.portfolio_proyectos_texto p{
    margin-left: 1em;
    margin-right: 1em;
}

.portfolio_proyectos_texto a{
    color: #FF6633;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.portfolio_titulos{
    font-size: 2.7em;
    text-decoration: none;
}

p.portfolio_tipo{
    font-family: "robotoregular", sans-serif;
    font-size: 2.7em;
}

p.portfolio_rol,
p.portfolio_año{
    font-family: "robotolight", sans-serif;
}

p.portfolio_rol{
    font-size: 2.7em;
    margin-top: 2em;
    padding-top: 0.5em;
    border-top-style: solid;
    border-top-color: #99CC66;
    border-top-width: 0.05em;
}

p.portfolio_año{
    font-size: 2.2em;
    padding: 0.3em 0.2em 1em 0.2em;
}

#portfolio_behance a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    margin-left: 27%;
    border-radius: 1.2em;
    border-style: solid;
    border-color: #336699;
    border-width: 0.3em;
    text-decoration: none;
    padding: 1.2em 0.5em 1.2em 0.5em;
    width: 46%;
}

#portfolio_behance img{
    width: 15%;
    height: auto;
}

#portfolio_behance h5{
    font-family: "robotoregular", sans-serif;
    font-size: 2.5em;
    color: #336699;
    padding-left: 0.2em;
}   



/* Portfolio */

/* Pdf */

#pdf{
    background-color: #f7f7f7;
    z-index: 2;
    padding: 2em;
}

a.pdf_descarga{
    display: flex;
    justify-content: center;
    border-radius: 0.5em;
    border-color: #336699;
    border-style: solid;
    border-width: 0.12em;
    margin-top: 1.5em;
    margin-left: 25.5%;
    padding: 0.5em 1em 0.5em 1em;
    font-family: "robotobold", sans-serif;
    font-size: 2.5em;
    text-decoration: none;
    color: #336699;
    width: 49%;
}


/* Pdf */

/* MAIN */


/* FOOTER */

#footer{
    color: #336699;
    background-color: #fafafa;
    width: 100%;
    height: auto;
}

#footer nav ul{
    display: flex;
    justify-content: center;
    padding: 2.5em 0em;
}

#footer nav ul li{
    font-family: "robotomedium", sans-serif;
    font-size: 2em;
}

#footer nav ul li:first-child{
    border-right-color: #333399;
    border-right-style: solid;
    padding-right: 0.5em;
}

#footer nav ul li:last-child{
    padding-left: 0.5em;  
}

/* FOOTER */

/* AGREGAR A VERSIÓN DE ESCRITORIO 
img.portfolio_imagenes:hover,
img.portfolio_imagenes:focus{
    opacity: 0.7;
}

.portfolio_proyectos_texto a:hover{
    color: #959595;
}

a.pdf_descarga:hover{
    color: #efefef;
    background-color: #74c1d8;
}*/



/* RESPONSIVE */

 @media screen and (orientation:landscape) {
     #perfil{
         height: auto;
     }
     
     #portfolio{
         height: auto;
     }
}