@charset "utf-8";

/* TIPOGRAFÍAS */
@font-face {
    font-family: 'titillium_webbold';
    src: url('titilliumweb-bold-webfont.woff2') format('woff2'),
         url('titilliumweb-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium_websemibold';
    src: url('titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('roboto-light-webfont.woff2') format('woff2'),
         url('roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium-webfont.woff2') format('woff2'),
         url('roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* FIN TIPOGRAFÍAS */

/* GENERAL */

*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    list-style: none;
    font-family: 'robotomedium', sans-serif;
}

body{
    background-color: #4b4b4b;
    color:#aaaaaa;
    margin: auto;
    margin-top: 5.2em;
}

main{
    text-align: center;
    margin: auto;
    margin-top: -6em;
}

footer{
    background-color: #e6e6e6;    
}

/* GENERAL */

/* HEADER */

/*VER CÓMO HACER QUE AL SCROLLEAR SE ACTUALICE EL HEADER.*/

header{
    background-color: #000000;
    width: 100%;
    height: 7em;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;
}

header nav ul{
    width: 100%;
    height: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_izquierda,
#header_derecha{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

#contenedor_titulo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#titulo_seccion{
    font-family: 'titillium_webbold';
    font-size: 3em;
}

p.titulo_menu{
    display: none;
}

li.header img:hover,
li.header img:active {
    opacity: 0.5;
}



/* HEADER */



/* MAIN */

/* Perfil - Presentación */

#perfil{
    position: relative;
    padding-top: 5vh;
    background-color: #f7f7f7;
    border-bottom: solid;
    border-color: black;
    height: 100vh;
    width: 100vw;
}

#presentacion{
    margin: 0em 3em 0em 3em;
}

#presentacion h1 {
    font-family: 'titillium_webbold', sans-serif;
    font-size: 5em;
    margin: 2.5em 1.5em 0.2em 1.5em;
    line-height: 1.2em;
}

#presentacion h1 span{
    font-family: 'titillium_websemibold', sans-serif;
    color: #cccccc;
}

#presentacion h2{
    font-family: 'robotolight', sans-serif;
    font-size: 3em;
    margin: auto;
}

#presentacion figure img{
    margin: 7em 3em 2em 3em;
    height: auto;
    width: 70%;
    border-radius: 1.5em;
}

#presentacion figcaption p{
    font-family: 'robotolight', sans-serif;
    font-size: 2em;
}

#presentacion h3{
    font-family: 'robotolight', sans-serif;
    font-size: 3em;
    margin: 1em;
}

/* Perfil - Datos */

#datos{
    position: absolute;
    bottom: 8vh;
    width: 100%;
}

#datos nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-left: 5em;
    padding-right: 5em;
}

#datos a{
    font-family: 'robotolight', sans-serif;
    font-size: 1.9em;
    margin-bottom: 1.5em;
}

/* Conocimientos */

#conocimientosyformación{
    height: 100vh;
}

#conocimientos{
    padding-top: 6em;
    background-color: #343434;
    border-top-style: solid;
    border-color: black;
}

ul.conocimientos{
    width: 70%;
    max-width: 70%;
    display: inline-block;
    margin-top: 5vh;
}

li.fila_conocimiento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.7em;
}

ul.conocimientos li figure{
    display:inline-flex;  
    align-items: center;
}

ul.conocimientos figcaption{
    padding-left: 0.6em;
    font-family: 'robotoregular', sans-serif;
    font-size: 2.5em;
}

div.unacara,
div.doscaras,
div.trescaras{
    width: 149px;
    height: 43px;
    background-image: url("../img/3caras.png");
    background-repeat: no-repeat;
}

div.unacara{
    background-position: -105px;
}

div.doscaras{
    background-position: -53px;
}

hr.divisor_categoria{
    width: 80%;
    margin: 1em 0em 1em 10%;
    /*border: 2px dashed;*/
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.49), #ffb2b2, rgba(255, 255, 255, 0.49));
}
        
        
/* Formación */
        
#formacion{
    border-top-style: solid;
    border-top-color: #343434;
    margin: 0em;
    background-color: #343434;
}

#timeline {
    position: relative;
    margin-top: 4em;
    margin-bottom: 2.5em;
    z-index: 1;
}

#timeline::before {
    /* línea vertical */
    content: '';
    position: absolute;
    top: 0.8em;
    height: 78%;
    width: 0.5em;
    transform: translate(-50%);
    background: #f7f7f7; 
}

div.circulo_gris_fadu,
div.circulo_gris_after,
div.circulo_gris_idiomas,
div.circulo_gris_ilse{
    border-radius: 50%;
    background: #fff2d6;
    z-index: 3;
    top:0em;
}

div.circulo_gris_fadu{
    width: 5em;
    height: 5em;
}

div.circulo_gris_after{
   width: 2.5em;
    height: 2.5em;
}

div.circulo_gris_idiomas{
   width: 1.5em;
    height: 1.5em;
}

div.circulo_gris_ilse{
    width: 4em;
    height: 4em;
}

div.timeline_block_circulo{
    display: flex;
    justify-content: center;
}
/* MAIN */








/* FOOTER */

/* FOOTER */