@charset "utf-8";

/* TIPOGRAFÍAS */
@font-face {
    font-family: 'TitilliumWeb-SemiBold';
    src: url('subset-TitilliumWeb-SemiBold.eot');
    src: url('subset-TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('subset-TitilliumWeb-SemiBold.woff2') format('woff2'),
        url('subset-TitilliumWeb-SemiBold.woff') format('woff'),
        url('subset-TitilliumWeb-SemiBold.ttf') format('truetype'),
        url('subset-TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('subset-Roboto-Regular.eot');
    src: url('subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Regular.woff2') format('woff2'),
        url('subset-Roboto-Regular.woff') format('woff'),
        url('subset-Roboto-Regular.ttf') format('truetype'),
        url('subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('subset-Roboto-Bold.eot');
    src: url('subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Bold.woff2') format('woff2'),
        url('subset-Roboto-Bold.woff') format('woff'),
        url('subset-Roboto-Bold.ttf') format('truetype'),
        url('subset-Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumWeb-Bold';
    src: url('subset-TitilliumWeb-Bold.eot');
    src: url('subset-TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-TitilliumWeb-Bold.woff2') format('woff2'),
        url('subset-TitilliumWeb-Bold.woff') format('woff'),
        url('subset-TitilliumWeb-Bold.ttf') format('truetype'),
        url('subset-TitilliumWeb-Bold.svg#TitilliumWeb-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('subset-Roboto-Light.eot');
    src: url('subset-Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Light.woff2') format('woff2'),
        url('subset-Roboto-Light.woff') format('woff'),
        url('subset-Roboto-Light.ttf') format('truetype'),
        url('subset-Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* FIN TIPOGRAFÍAS */

/* GENERAL */
*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

body{
    color: #3A3A3A;
    margin: auto;
    margin-top: 5.2em;
}

main{
    text-align: center;
    margin: auto;
    margin-top: -6em;
}

footer{
    background-color: #f8f8f8; 
    color: #8ebfbe;
}

/* GENERAL */

/* HEADER */
header{
    color: #336699;
    background-color: #fafafa;
    width: 100%;
    /*height: 3.5em;*/
    left: 0;
    top: 0;
    position: fixed;
    z-index: 5;
    border-bottom-style: solid;
    border-bottom-color: #bcbcbc;
    border-bottom-width: 0.09em;
}

header nav ul{
    /*width: 100%;*/
    height: 3.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header_izquierda,
#header_derecha{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.header img{
    width: 1.2em;
}

#contenedor_titulo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    padding-bottom: 0.2em;
}

#titulo_seccion{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
}

p.titulo_menu{
    display: none;
}

li.header img:hover{
    opacity: 0.5;
    cursor: pointer;
}
/* HEADER */

/* MAIN */
/* Perfil - Presentación */
#perfil{
    position: relative;
    padding-top: 2%;
    background-color: #f7f7f7;
    background-image: url(../img/fondo_perfil_desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: solid;
    border-bottom-width: 0.09em;
    border-color: #333399;
    height: auto;
}

#presentacion{
    margin: 0em 2em 0em 2em;
}

#presentacion h1 {
    color: #FF6633;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    width: 100%;
}

#nombres{
    margin: 4.5em auto 0em;
}

#apellidos{
    margin: -0.1em auto 0.1em;
}

#presentacion h1 span{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #FF9966;
}

#presentacion h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.95em;
    margin: auto;
    color: #FF6633;
}

#presentacion figure img{
    margin-top: 2.5em;
    margin-bottom: 0.7em;
    height: auto;
    width: 85%;
    max-width: 180px;
    border-radius: 0.8em;
    border-style: solid;
    border-width: 0.094em;
    border-color: #99CC33;
    -webkit-box-shadow: 2px 2px 11px 0px rgba(84,84,84,0.55);
    -moz-box-shadow: 2px 2px 11px 0px rgba(84,84,84,0.55);
    box-shadow: 2px 2px 11px 0px rgba(84,84,84,0.55);
}

#presentacion figcaption p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
}

/* Perfil - Datos */
#datos{
    margin-top: 4.5em;
    margin-bottom: 3em;
    width: 100%;
}

#datos nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#datos a{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.75em;
}

#datos a:first-child{
    border-right-style: solid;
    border-right-width: 0.08em;
    border-right-color: #333399;
    padding-right: 0.7em;
}

#datos a:last-child{
    padding-left: 0.7em;
}


/* Conocimientos */
#conocimientos{
    padding-top: 5.5em;
    background-color: #f0f0f0;
    background-image: url(../img/fondo_conocimientos_desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul.conocimientos{
    width: 75%;
    max-width: 250px;
    display: inline-block;
    margin-bottom: 15%;
}

li.fila_conocimiento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.25em;
}

ul.conocimientos li figure{
    display:inline-flex;  
    align-items: center;
}

ul.conocimientos figcaption{
    padding-left: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
}

li.fila_conocimiento figure img{
    width: 1.4em;
}

div.unacara,
div.doscaras,
div.trescaras{
    width: 42px;
    height: 12px;
    background-image: url("../img/3caras.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div.unacara{
    background-position: -29px;
}

div.doscaras{
    background-position: -14.5px;
}

hr.divisor_categoria{
    width: 60%;
    margin: 0.7em 0em 0.7em 20%;
    border-style: solid;
    border-color: #333399;
}
        
hr.separador_subseccion{
    width: 20%;
    margin-left: 40%;
    border-style: solid;
    border-color: #333399;
}

/* Formación */
#formacion{
    position: relative;
    background-color: #f0f0f0;
    background-image: url(../img/fondo_formacion_desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom-style: solid;
    border-bottom-color: #333399;
    border-bottom-width: 0.09em;
}

#formacion::before {
    /* línea vertical */
    content: '';
    position: absolute;
    top: 4.5em;
    height: 65%;
    width: 0.15em;
    background: #99CC66;
    transform: translate(-50%);
}

div.contenedor_timeline{
    position: relative;
    margin: auto;
    width: 95%;
    max-width: 320px;
    margin-bottom: 0.8em;
}

div.circulo_timeline{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
}

div.circulo_timeline figure{
    display: inline-flex;
    align-items: center;
    transform: translate(-21%);
}

#primera_esfera{
    transform: translate(-78%);
}

.circulo_chico{
    transform: translate(-49%);
}

div.circulo_timeline figure img,
#primera_esfera img,
.circulo_chico img{
    width: 1.8em;
}

figcaption.fecha{
    margin-left: 1.7em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.6em;
}

figcaption.fecha_izquierda{
    margin-right: 1.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.6em;
}

div.contenido_timeline{
    position: relative;
    width: 44%;
    border-width: 0.09em;
    border-color: #333399;
}

div.contenido_izquierda{
    border-left-style: solid;
    margin-left: 0.15em;
    text-align: left;
    padding-left: 0.5em;
}

div.contenido_derecha{
    border-right-style: solid;
    margin-left: 57%;
    text-align: right;
    padding-right: 0.5em;
}

div.contenido_timeline h2{
    color: #FF6633;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    padding-bottom: 0.2em;
    line-height: 1.2em;
}

div.contenido_timeline h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    padding-bottom: 0.4em;
}

div.contenido_timeline p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.6em;
}

.shake{
    -webkit-animation-name: shake;
    -webkit-animation-duration: 5s;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.shake:nth-child(2){
    -webkit-animation-delay: 2s;
}

.shake:nth-child(5){
    -webkit-animation-delay: 3s;
}

.shake:nth-child(4){
    -webkit-animation-delay: 4s;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: rotate(0deg); } 
    3% { -webkit-transform: rotate(-6deg); }
    6% { -webkit-transform: rotate(6deg); }
    9% { -webkit-transform: rotate(-4deg); }
    12% { -webkit-transform: rotate(4deg); }
    15% { -webkit-transform: rotate(-2deg); }
    18% { -webkit-transform: rotate(2deg); }
    21%, 100% { -webkit-transform: rotate(0deg); }
}

/* Proyectos */
#proyectos{
    background-color: #f7f7f7;
    background-image: url(../img/fondo_proyectos_desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    padding-top: 6em;
    padding-bottom: 4em;
    border-bottom-style: solid;
    border-bottom-color: #333399;
    border-bottom-width: 0.09em;
}

#proximos_proyectos{
    background-color: #EAEAEA;
}

#proximos_proyectos h4{
    color: #D1D1D1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    left: 15%;
    top: 40%;
}

#contenedor_proyectos{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
}

.filas_desktop_proyectos{
    margin-bottom: 1em;
}

div.contenido_filas{
    display: block;
    position: relative;
    height: 26em;
}

div.contenido_filas div{
    border-radius: 0.5em;
    background-size: cover;
}

div.contenido_filas_largos{
    display: block;
    height: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.proyectos_izquierda,
div.proyectos_derecha{
    width: 14em;
    max-height: 8em;
    margin: auto;
    position: relative;
}

div.proyectos_arriba{
    margin-bottom: 1em;
}

div.proyectos_centro{
    width: 14em;
    margin: auto;
}

div.proyectos_grandes,
div.proyectos_medianos,
div.proyectos_largos{
    background-color: #f7f7f7;
    height: 8em;
    -webkit-box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
}

div.proyectos_landscape_top{
    position: relative;
    top: 0em;
}

div.proyectos_landscape_bottom{
    position: relative;
    top: 10em;
}

div.proyectos_landscape_center_medianos{
    position: relative;
    top: 1em;
}

div.proyectos_landscape_bottom_medianos{
    position: relative;
    top: 1em;
}

/* proyectos grandes */
img.etiqueta_izq_grandes,
img.etiqueta_izq_medianos,
img.etiqueta_izq_largos{
    height: 43%;
    position: absolute;
    top: 10%;
    left: -6%;
}

img.etiqueta_der_grandes,
img.etiqueta_der_largos{
    height: 34%;
    position: absolute;
    bottom: 12%;
    right: -5.5%;
}

.etiqueta_izq_grandes_atras,
.etiqueta_izq_medianos_atras{
    position: absolute;
    top: 10%;
    right: -2%;
    height: 32%;
}

.etiqueta_der_grandes_atras{
    position: absolute;
    bottom: 8%;
    left: -2%;
    height: 27%;    
}

div.proyectos_grandes h4,
div.proyectos_medianos h4,
div.proyectos_largos h4{
    color: #FF6633;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    position: absolute;
    top: 11%;
    left: 3%;
    z-index: 1;
}

div.proyectos_grandes h5,
div.proyectos_medianos h5,
div.proyectos_largos h5{
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    z-index: 1;
}

div.proyectos_grandes h6,
div.proyectos_largos h6{
    position: absolute;
    bottom: 32%;
    right: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    margin-top: 5em;
}

div.proyectos_grandes p,
div.proyectos_largos p{
    position: absolute;
    bottom: 20%;
    right: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.6em;
}

#datos_extra_tourette{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    position: absolute;
    margin: 1em;
    left: 10%;
    top: 18%;
    text-align: left;
}

/* proyectos medianos */
div.proyectos_medianos h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    margin-top: 2em;
    position: absolute;
    bottom: 24%;
    right: 8%;
    z-index: 3;
}

div.proyectos_medianos p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    position: absolute;
    bottom: 13%;
    right: 8%;
    z-index: 3;
}

div.proyectos_medianos h7{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    text-align: left;
    left: 10%;
    top: 10%;
    width: 75%;
}

#hacerfuego_proyectos{
    background-image: url(../img/hacerfuego_proyectos.jpg);
}

#etiqueta_izq_hacerfuego{
    width: 87%;
    left: -4.7%;
}

#virus_proyectos{
    background-image: url(../img/virus_proyectos.jpg);
}

#etiqueta_izq_virus{
    width: 56%;
    left: -3%
}

#tiempoausente_proyectos{
    background-image: url(../img/tiempoausente_proyectos.jpg);
    background-position: bottom;
}

#etiqueta_izq_tiempoausente{
    width: 67%;
    left: -4%;
}

#etiqueta_der_tiempoausente{
    width: 64%;
    right: -3.7%;
}

#hacefeliz_proyectos{
    background-image: url(../img/hacefelizaungato_proyectos.jpg);
    background-position: center;
}

#etiqueta_izq_hacefeliz{
    width: 82%;
    left: -4.5%;
}

#etiqueta_der_hacefeliz{
    width: 40%;
    right: -2%;
}

#tourette_proyectos{
    background-image: url(../img/tourette_proyectos.jpg);
    background-position: top;
}

#etiqueta_izq_tourette{
    width: 45%;
    left: -2.5%;
}

#etiqueta_der_tourette{
    width: 50%;
    right: -2.8%;
}

#paraiso_proyectos{
    background-image: url(../img/paraiso_proyectos.jpg);
    background-position: right;
}

#etiqueta_izq_paraiso{
    width: 39%;
    left: -2.4%;
}

#doblefantasia_proyectos{
    background-image: url(../img/doblefantasia_proyectos.jpg);
    background-position: top;
}

#etiqueta_izq_doblefantasia{
    width: 65%;
    left: -3.5%;
}

#suenaluz_proyectos{
    background-image: url(../img/suenaluz_proyectos.jpg);
}

#etiqueta_izq_suenaluz{
    width: 45%;
    left: -2.5%;
}

#etiqueta_der_suenaluz{
    width: 70%;
    right: -3.8%;
}

#seminario_proyectos{
    background-image: url(../img/seminario_proyectos.jpg);
    background-position: top;
}

#etiqueta_izq_seminario{
    width: 95%;
    left: -5.5%;
}

#yogui_proyectos{
    background-image: url(../img/yogui_proyectos.jpg);
    background-position: bottom;
}

#etiqueta_izq_yogui{
    width: 62%;
    left: -3.4%;
}

#yogui_h4{
    text-align: left;
}

#enlalluvia_proyectos{
    background-image: url(../img/enlalluvia_proyectos.jpg);
    background-position: left;
}

#etiqueta_izq_enlalluvia{
    width: 54%;
    left: -3%;
}

#etiqueta_der_enlalluvia{
    width: 80%;
    right: -4.5%;
}

h6.rol_dosrenglones{
    text-align: right;
}

#cactusenserie_proyectos{
    background-image: url(../img/cactusenserie_proyectos.jpg);
    background-position: center;
}

#etiqueta_izq_cactus{
    width: 70%;
    left: -4%;
}

#etiqueta_der_cactus{
    width: 70%;
    right: -3.8%;
}

#cvonline_proyectos{
    background-image: url(../img/cvonline_proyectos.jpg);
    background-position: left;
}

#etiqueta_izq_cvonline{
    width: 43%;
    left: -2.2%;
}

#etiqueta_der_cvonline{
    width: 55%;
    right: -3.3%;
}

#voluntariado_proyectos{
    background-image: url(../img/voluntariado_proyectos.jpg);
    background-position: center;
}

#etiqueta_izq_voluntariado{
    width: 72%;
    left: -4%;
}

#dataentry_proyectos{
    background-image: url(../img/dataentry_proyectos.jpg);
    background-position: center;
}

#etiqueta_izq_dataentry{
    width: 60%;
    left: -3.3%;
}

#paracaidas_proyectos{
    background-image: url(../img/paracaidas_proyectos.jpg);
    background-position: center;
}

#etiqueta_izq_paracaidas{
    width: 52%;
    left: -2.9%;
}

#etiqueta_der_paracaidas{
    width: 80%;
    right: -4.5%;
}

/* Giro de cartas */
/* entire container, keeps perspective */
.contenedor_flip,
.contenedor_flip_grande{
	perspective: 1000px;
}

/* flip the pane when hovered */
.contenedor_flip:hover .flipper,
.contenedor_flip.hover .flipper {
    transform: rotateX(180deg);
}

.contenedor_flip_grande:hover .flipper_grande, .contenedor_flip_grande.hover .flipper_grande{
    transform: rotateX(180deg);
}

.contenedor_flip, .carta_adelante, .carta_atras,
.contenedor_flip_grande, .carta_adelante_grande, .carta_atras_grande {
	width: 100%;
	height: 8em;
}

/* flip speed goes here */
.flipper, .flipper_grande {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.carta_adelante, .carta_atras, .carta_adelante_grande, .carta_atras_grande {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.carta_adelante, .carta_adelante_grande {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
}

/* back, initially hidden pane */
.carta_atras, .carta_atras_grande {
	transform: rotateX(180deg);
}


.carta_atras_hacerfuego{
    background-image: url(../img/hacerfuego_proyectos_landscape.jpg);
    background-position: bottom;
}

.carta_atras_virus{
    background-image: url(../img/virus_proyectos_landscape.jpg);
    background-position: bottom;
}

.carta_atras_tourette{
    background-image: url(../img/tourette_proyectos_landscape.jpg);
    background-position: bottom;
}

.carta_atras_paraiso{
    background-image: url(../img/paraiso_proyectos_landscape.jpg);
    background-position: top;
}

.carta_atras_doblefantasia{
    background-image: url(../img/doblefantasia_proyectos_landscape.jpg);
    background-position: bottom;
}

.carta_atras_seminario{
    background-image: url(../img/seminario_proyectos_landscape.jpg);
    background-position: top;
}

.carta_atras_yogui{
    background-image: url(../img/yogui_proyectos_landscape.jpg);
    background-position: top;
}

.carta_atras_voluntariado{
    background-image: url(../img/voluntariado_proyectos_landscape.jpg);
    background-position: bottom;
}

.carta_atras_dataentry{
    background-image: url(../img/dataentry_proyectos_landscape.jpg);
    background-position: bottom;
}

/* animación cartas clickeables */
.zoomin{
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

.zoomin_primeros{
    -webkit-animation-delay: 0s;
}

.zoomin_segundos{
    -webkit-animation-delay: 0.5s;
}

.zoomin_terceros{
    -webkit-animation-delay: 1s;
}

.zoomin:hover{
    animation-play-state: paused;
}

@-webkit-keyframes zoomin {
    0% { -webkit-transform: scale(1) } 
    4% { -webkit-transform: scale(1.02); }
    8% { -webkit-transform: scale(1); }
    12% { -webkit-transform: scale(1.01); }
    16%, 100% { -webkit-transform: scale(1); }
}

/*PORTFOLIO*/
#portfolio{
    background-color: #f0f0f0;
    background-image: url(../img/fondo_portfolio_desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    border-bottom-style: solid;
    border-bottom-color: #333399;
    border-bottom-width: 0.09em;
    padding-top: 10em;
    padding-bottom: 10em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
    height: 45em;
}

img.portfolio_imagenes:hover,
img.portfolio_imagenes:focus{
    cursor: pointer;
}

.portfolio_proyectos_texto a:hover{
    cursor: pointer;
}

img.portfolio_imagenes{
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    margin-bottom: 0.8em;
    opacity: 1;
    max-width: 100%;
    height: auto;
}

figure.portfolio_proyectos{
    display: table;
    border-color: #99CC66;
    border-style: solid;
    border-width: 0.13em;
    border-radius: 0.8em;
    margin: auto;
    background-color: #f8f8f8;
    width: 90%;
    max-width: 230px;
    height: auto;
}

.portfolio_proyectos img,
.portfolio_proyectos figcaption{
    display: table-row;
    vertical-align: bottom;
    text-align: left;
}

.portfolio_proyectos_texto a,
.portfolio_proyectos_texto p{
    margin-left: 0.9em;
    margin-right: 0.9em;
}

.portfolio_proyectos_texto a{
    color: #FF6633;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.portfolio_titulos{
    font-size: 0.9em;
    text-decoration: none;
}

a.portfolio_titulos img{
    width: 7%;
    max-width: 7%;
}

p.portfolio_tipo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

p.portfolio_rol,
p.portfolio_año{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p.portfolio_rol{
    font-size: 0.8em;
    margin-top: 2em;
    padding-top: 0.5em;
    border-top-style: solid;
    border-top-color: #99CC66;
    border-top-width: 0.05em;
}

p.portfolio_rol_dosrenglones{
    margin-top: 0.5em;
}

p.portfolio_año{
    font-size: 0.7em;
    padding: 0.3em 0.2em 1em 0.2em;
}

#portfolio_titulo_seminario{
    font-size: 0.8em;
    padding-bottom: 0.2em;
}

#portfolio_behance a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6em auto 0em auto;
    border-radius: 0.5em;
    border-style: solid;
    border-color: #336699;
    border-width: 0.15em;
    text-decoration: none;
    padding: 0.3em 0.2em 0.3em 0.2em;
    width: 50%;
    max-width: 150px;
}

#portfolio_behance img{
    width: 12%;
    height: auto;
}

#portfolio_behance h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #336699;
    padding-left: 0.2em;
    padding-bottom: 0.1em;
}   

#portfolio_behance a:hover,
a.pdf_descarga:hover{
    opacity: 0.6;
}

/* Pdf */
#pdf{
    background-color: #f7f7f7;
    z-index: 2;
    padding: 1.5em;
    height: 10em;
}

a.pdf_descarga{
    display: flex;
    justify-content: center;
    border-radius: 0.6em;
    border-color: #336699;
    border-style: solid;
    border-width: 0.17em;
    margin: 3em auto 3em auto;
    padding: 0.5em 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.85em;
    text-decoration: none;
    color: #336699;
    width: 60%;
    max-width: 150px;
}

/* Pdf */
/* MAIN */

/* FOOTER */
#footer{
    color: #336699;
    background-color: #fafafa;
    width: 100%;
    height: auto;
    border-top-style: solid;
    border-top-color: #bcbcbc;
    border-top-width: 0.09em;
}

#footer nav ul{
    display: flex;
    justify-content: center;
    padding: 0.7em 0.2em;
}

#footer nav ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.6em;
}

#footer nav ul li:first-child{
    border-right-color: #333399;
    border-right-style: solid;
    border-right-width: 0.08em;
    padding-right: 0.5em;
}

#footer nav ul li:last-child{
    padding-left: 0.5em;  
}

/* RESPONSIVE */
/* detalles que se desacomodaban entre el tamaño más chico y la expansión de la ventana */
@media screen and (min-width: 300px){
/*formacion*/
    div.circulo_timeline figure{
        display: inline-flex;
        align-items: center;
        transform: translate(-22%);
    }

    #primera_esfera{
        transform: translate(-79%);
    }

    .circulo_chico{
        transform: translate(-50%);
    }

    div.contenido_izquierda{
        padding-right: 1em;
    }

    div.contenido_derecha{
        padding-left: 1em;
    }
}

/* HASTA 2/4 DE LA PÁGINA */
@media screen and (min-width: 460px) {
/*header*/
    #header_izquierda,
    #header_derecha{
        margin-left: 1.3em;
        margin-right: 1.3em;
    }

    .header img{
        width: 1.5em;
    }

    #contenedor_titulo{
        width: 60%;
        padding-bottom: 0.1em;
    }

    #titulo_seccion{
        font-size: 1.1em;
    }

/*perfil-presentación*/
    #presentacion h1 {
        font-size: 2em;
    }

     #nombres{
        margin: 3.5em auto 0em;
    }

    #presentacion h2{
        font-size: 1.2em;
    }

    #presentacion figure img{
        max-width: 250px;
    }

    #presentacion figcaption p{
        font-size: 0.9em;
    }

/*perfil-datos*/
    #datos a{
        font-size: 1em;
    }

    #datos a:first-child{
        padding-right: 1em;
    }

    #datos a:last-child{
        padding-left: 1em;
    }

/*conocimientos*/
    ul.conocimientos{
        max-width: 350px;
        margin-bottom: 3.5em;
    }

    li.fila_conocimiento{
        padding-bottom: 0.4em;
    }

    ul.conocimientos figcaption{
        padding-left: 0.9em;
        font-size: 1em;
    }

    li.fila_conocimiento figure img{
        width: 1.8em;
    }

    div.unacara,
    div.doscaras,
    div.trescaras{
        width: 60px;
        height: 18px;
    }

    div.unacara{
        background-position: -42px;
    }

    div.doscaras{
        background-position: -21px;
    }
            
    hr.separador_subseccion{
        width: 15%;
        margin-left: 42.5%;
    }

/*formación*/
    #formacion{
        padding-top: 4em; 
    }

    #formacion::before {
        /* línea vertical */
        height: 68%;
    }

    div.contenedor_timeline{
        max-width: 500px;
        margin-bottom: 1.1em;
    }

    div.circulo_timeline figure{
        transform: translate(-20%);
    }

    #primera_esfera{
        transform: translate(-79%);
    }

    .circulo_chico{
        transform: translate(-50%);
    }

    div.circulo_timeline figure img,
    #primera_esfera img,
    .circulo_chico img{
        width: 2.3em;
    }

    figcaption.fecha{
        margin-left: 2em;
        font-size: 0.8em;
    }

    figcaption.fecha_izquierda{
        margin-right: 2em;
        font-size: 0.8em;
    }

    div.contenido_izquierda{
        padding-left: 1em;
    }

    div.contenido_derecha{
        padding-right: 1em;
    }

    div.contenido_timeline h2{
        font-size: 1.2em;
    }

    div.contenido_timeline h3{
        font-size: 0.9em;
    }

    div.contenido_timeline p{
        font-size: 0.8em;
    }

/*proyectos*/
    #contenedor_proyectos{
        margin: auto;
        width: 84%;
        max-width: 430px;
    }

    #proximos_proyectos h4{
        left: 26%;
        top: 40%;
    }

    div.contenido_filas:first-child{
        margin-top: 0em;
    }

    div.contenido_filas{
        display: flex;
        position: static;
        margin-top: 1em;
        height: auto;
    }

    div.contenido_filas_largos{
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
    }

    div.proyectos_izquierda{
        width: 47%;
        height: 17em;
        max-height: 17em;
        margin-right: 3%;
        position: relative;
    }
      
    div.proyectos_derecha{
        width: 47%;
        height: 17em;
        max-height: 17em;
        margin-left: 3%;
        position: relative;
    }

    div.proyectos_centro{
        width: 100%;
        margin-top: 1em;
        position: relative;
    }

    div.proyectos_grandes{
        height: 17em;
    }

    div.proyectos_landscape_top,
    div.proyectos_landscape_tourette,
    div.proyectos_landscape_center,
    div.proyectos_landscape_bottom,
    div.proyectos_landscape_center_medianos,
    div.proyectos_landscape_bottom_medianos{
        position: static;
        top: auto;
    }

    div.proyectos_landscape_grandes{
        position: relative;
    }

/* proyectos grandes */
    img.etiqueta_izq_grandes{
        height: 22%;
        position: absolute;
        top: 10%;
        left: -4%;
    }

    img.etiqueta_der_grandes{
        height: 19%;
        position: absolute;
        bottom: 9%;
        right: -5.5%;
    }

    .etiqueta_izq_grandes_atras{
        position: absolute;
        top: 10%;
        right: -2%;
        height: 20%;
    }

    .etiqueta_der_grandes_atras{
        position: absolute;
        bottom: 9%;
        left: -2%;
        height: 17%;    
    }

    div.proyectos_grandes h4{
        font-size: 1.1em;
    }

    div.proyectos_grandes h5{
        top: 19%;
        left: 3%;
        font-size: 0.9em;
    }

    div.proyectos_grandes h6{
        bottom: 20%;
        font-size: 0.8em;
    }

    div.proyectos_grandes p{
        bottom: 14%;
        font-size: 0.7em;
    }

    #datos_extra_tourette{
        font-size: 0.85em;
        left: 12%;
        top: 25%;
    }

/* proyectos medianos */
    img.etiqueta_izq_medianos{
        height: 40%;
        z-index: 1;
    }

    .etiqueta_izq_medianos_atras{
        z-index: 3;
        height: 36%;
    }

    .etiqueta_izq_medianos_atras_dosrenglones{
        height: 50%;
    }

    h4.titulo_dosrenglones{
        width: 70%;
        max-width: 150px;
    }

    h5.tipo_dosrenglones{
        padding-top: 1.7em;
    }

    div.proyectos_medianos h4{
        top: 12%;
        text-align: left;
    }

    div.proyectos_medianos h5{
        top: 26%;
    }

    div.proyectos_medianos h7{
        font-size: 0.75em;
    }

/* proyectos largos */
    img.etiqueta_izq_largos{
        height: 46%;
        position: absolute;
        top: 10%;
        left: -6%;
    }

    img.etiqueta_der_largos{
        height: 36%;
        position: absolute;
        bottom: 12%;
        right: -5.5%;
    }

    div.proyectos_largos h4{
        font-size: 1.1em;
        top: 12%;
    }

    div.proyectos_largos h5{
        top: 30%;
        font-size: 0.9em;
    }

    div.proyectos_largos h6{
        bottom: 33%;
        font-size: 0.8em;
    }

    div.proyectos_largos p{
        bottom: 21%;
        font-size: 0.7em;
    }

    #etiqueta_izq_hacerfuego{
        width: 78%;
        height: 61%;
        left: -4.4%;
    }

    #etiqueta_izq_virus{
        width: 64%;
        left: -3.8%
    }

    #etiqueta_izq_tiempoausente{
        width: 96%;
        left: -5.3%;
    }

    #etiqueta_der_tiempoausente{
        width: 83%;
        right: -4.9%;
    }

    #etiqueta_izq_hacefeliz{
        width: 60%;
        left: -3.5%;
    }

    #etiqueta_der_hacefeliz{
        width: 28%;
        right: -1.6%;
    }

    #etiqueta_izq_tourette{
        width: 61%;
        left: -3.4%;
    }

    #etiqueta_der_tourette{
        width: 64%;
        right: -3.5%;
    }

    #etiqueta_izq_paraiso{
        width: 43%;
        left: -2.2%;
    }

    #etiqueta_izq_doblefantasia{
        width: 77%;
        left: -4.5%;
    }

    #etiqueta_izq_suenaluz{
        width: 33%;
        left: -1.9%;
    }

    #etiqueta_der_suenaluz{
        width: 48%;
        right: -2.7%;
    }

    #etiqueta_izq_seminario{
        width: 71%;
        height: 61%;
        left: -4%;
    }

    #etiqueta_izq_yogui{
        width: 72%;
        height: 43%;
        left: -4%;
    }

    #etiqueta_izq_enlalluvia{
        width: 75%;
        left: -4.2%;
    }

    #etiqueta_der_enlalluvia{
        width: 86%;
        height: 27%;
        right: -5.2%;
        bottom: 7%;
    }

    h6.rol_dosrenglones{
        width: 70%;
    }

    #etiqueta_izq_cactus{
        width: 48%;
        left: -2.8%;
    }

    #etiqueta_der_cactus{
        width: 46%;
        right: -2.5%;
    }

    #cvonline_proyectos{
        background-position: right;
    }

    #etiqueta_izq_cvonline{
        width: 63%;
        left: -3.4%;
    }

    #etiqueta_der_cvonline{
        width: 70%;
        right: -4%;
    }

    #etiqueta_izq_voluntariado{
        width: 88%;
        left: -4.8%;
    }

    #etiqueta_izq_dataentry{
        width: 71%;
        left: -4%;
    }

    #etiqueta_izq_paracaidas{
        width: 35%;
        left: -2%;
    }

    #etiqueta_der_paracaidas{
        width: 55%;
        right: -3.2%;
    }

/* Giro de cartas */
/* flip the pane when hovered */
    .contenedor_flip:hover .flipper,
    .contenedor_flip.hover .flipper {
        transform: rotateY(180deg);
    }

    .contenedor_flip_grande:hover .flipper_grande, .contenedor_flip_grande.hover .flipper_grande{
        transform: rotateY(180deg);
    }

    .contenedor_flip_grande, .carta_adelante_grande, .carta_atras_grande{
        height: 17em;
        width: 100%;
    }

/* flip speed goes here */
    .flipper, .flipper_grande {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

/* front pane, placed above back */
    .carta_adelante, .carta_adelante_grande {
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

/* back, initially hidden pane */
    .carta_atras, .carta_atras_grande {
        transform: rotateY(180deg);
    }

    .carta_atras_virus{
        background-position: top;
    }

/*portfolio*/
    figure.portfolio_proyectos{
        width: 82%;
        max-width: 230px;
    }

    .portfolio_proyectos_texto a,
    .portfolio_proyectos_texto p{
        margin-left: 0.7em;
        margin-right: 0.7em;
    }

    a.portfolio_titulos{
        font-size: 0.92em;
    }

    p.portfolio_rol{
        font-size: 0.85em;
    }

    p.portfolio_año{
        font-size: 0.8em;
    }

/*footer*/
    #footer nav ul li{
        font-size: 0.9em;
    }

    #footer nav ul li:first-child{
        padding-right: 0.9em;
    }

    #footer nav ul li:last-child{
        padding-left: 0.9em;  
    }
}

/* ACÁ VA LO QUE ES ENTRE 2/4 Y 4/4 DE LA PÁGINA */
@media screen and (min-width:850px) {
/*header*/
    #header_izquierda,
    #header_derecha{
        justify-content: center;
        width: 30%;
        margin-left: 2em;
        margin-right: 2em;
    }

    #header_izquierda li,
    #header_derecha li{
        padding-left: 5em;
        padding-right: 5em;
    }

/*conocimientos*/
    ul.conocimientos{
        width: 100%;
        max-width: 500px;
    }

/*formación */
    #formacion{
        padding-top: 6em;
        padding-bottom: 3em;  
    }

    #formacion::before {
        /* línea vertical */
        top: 6.5em;
        height: 64%;
    }

    div.contenedor_timeline{
        max-width: 760px;
    }

    div.circulo_timeline figure{
        transform: translate(-18%);
    }

    #primera_esfera{
        transform: translate(-82%);
    }

    .circulo_chico{
        transform: translate(-50%);
    }

    figcaption.fecha{
        margin-left: 3em;
    }

    figcaption.fecha_izquierda{
        margin-right: 3em;
    }

    div.contenido_izquierda{
        width: 40%;
    }

    div.contenido_derecha{
        width: 40%;
    }

/*proyectos*/
    #contenedor_proyectos{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 800px;
        height: auto;
    }

    .filas_desktop_proyectos{
        display: flex;
        height: 19em;
        margin: auto;
        margin-bottom: 2em;
    }

    .filas_proyectos_invertidos{
        display: flex;
        flex-direction: row-reverse;
    }

    #proximos_proyectos h4{
        left: 15%;
        top: 40%;
    }

    div.contenido_filas{
        width: 29em;
        margin-left: auto;
        margin-right: auto;
    }

    div.contenido_filas_largos{
        width: 18em;
    }

    div.proyectos_izquierda{
        height: 19em;
        max-height: 19em;
    }
      
    div.proyectos_derecha{
        height: 19em;
        max-height: 19em;
    }

    div.proyectos_arriba{
        height: 8.5em;
        margin-bottom: 2em;
    }

    div.proyectos_abajo{
        height: 8.5em;
    }

    div.proyectos_centro{
        height: 19em;
        margin-top: 0em;
        margin-left: 0em;
    }

    div.proyectos_medianos{
        height: 8.5em;
    }

    div.proyectos_grandes{
        height: 19em;
        width: 100%;
        max-width: 13em;
    }

    div.proyectos_largos{
        height: 19em;
    }

    div.proyectos_landscape_grandes,
    div.proyectos_landscape_top{
        position: relative;
    }

    div.proyectos_landscape_tourette{
        margin-left: 0.5em;
    }

/* proyectos grandes */
    img.etiqueta_izq_grandes{
        height: 22%;
    }

    img.etiqueta_der_grandes{
        height: 17%;
    }

    .etiqueta_izq_grandes_atras{
        height: 20%;
    }

    .etiqueta_der_grandes_atras{
        height: 15%;    
    }

    div.proyectos_grandes h6{
        bottom: 19%;
    }

    div.proyectos_grandes p{
        font-size: 0.75em;
    }

    #datos_extra_tourette{
        font-size: 0.95em;
        top: 30%;
    }

/* proyectos medianos */
    img.etiqueta_izq_medianos{
        height: 41%;
    }

    .etiqueta_izq_medianos_atras{
        height: 37%;
    }

    .etiqueta_izq_medianos_atras_dosrenglones{
        height: 37%;
    }

    h4.titulo_dosrenglones{
        width: 100%;
        max-width: 200px;
    }

    h5.tipo_dosrenglones{
        padding-top: 0.1em;
    }

    div.proyectos_medianos h6{
        font-size: 0.85em;
        bottom: 25%;
    }

    div.proyectos_medianos p{
        font-size: 0.75em;
        bottom: 12%;
    }

    div.proyectos_medianos h7{
        font-size: 0.85em;
    }

/* proyectos largos */
    img.etiqueta_izq_largos{
        height: 22%;
    }

    img.etiqueta_der_largos{
        height: 17%;
        bottom: 9%;
    }

    div.proyectos_largos h4{
        top: 11%;
    }

    div.proyectos_largos h5{
        top: 19%;
    }

    div.proyectos_largos h6{
        bottom: 19%;
        font-size: 0.85em;
    }

    div.proyectos_largos p{
        bottom: 14%;
        font-size: 0.75em;
    }

    #etiqueta_izq_hacerfuego{
        width: 90%;
        height: 41%;
        left: -5.2%;
    }

    #etiqueta_izq_virus{
        width: 56%;
        left: -3.3%
    }

    #etiqueta_izq_tiempoausente{
        width: 86%;
        left: -5%;
    }

    #etiqueta_der_tiempoausente{
        width: 76%;
        right: -4%;
    }

    #hacefeliz_proyectos{
        background-position: right;
    }

    #etiqueta_izq_hacefeliz{
        width: 77%;
        left: -4.3%;
    }

    #etiqueta_der_hacefeliz{
        width: 38%;
        right: -2.2%;
    }

    #etiqueta_izq_tourette{
        width: 57%;
        left: -3.2%;
    }

    #etiqueta_der_tourette{
        width: 61%;
        right: -3.5%;
    }

    #etiqueta_izq_paraiso{
        width: 38%;
        left: -2.7%;
    }

    #etiqueta_izq_doblefantasia{
        width: 67%;
        left: -4.3%;
    }

    #etiqueta_izq_suenaluz{
        width: 43%;
        left: -2.3%;
    }

    #etiqueta_der_suenaluz{
        width: 66%;
        right: -3.8%;
    }

    #etiqueta_izq_seminario{
        width: 97%;
        height: 41%;
        left: -5.5%;
    }

    #etiqueta_izq_yogui{
        width: 62%;
        height: 43%;
        left: -3.5%;
    }

    #etiqueta_izq_enlalluvia{
        width: 70%;
        left: -3.8%;
    }

    #etiqueta_der_enlalluvia{
        width: 77%;
        height: 25%;
        right: -4.4%;
        bottom: 7%;
    }

    #etiqueta_izq_cactus{
        width: 63%;
        left: -3.4%;
    }

    #etiqueta_der_cactus{
        width: 65%;
        right: -3.5%;
    }

    #cvonline_proyectos{
        background-position: right;
    }

    #etiqueta_izq_cvonline{
        width: 63%;
        left: -3.4%;
    }

    #etiqueta_der_cvonline{
        width: 70%;
        right: -4%;
    }

    #voluntariado_proyectos{
        background-position: top;
    }

    #etiqueta_izq_voluntariado{
        width: 74%;
        left: -4.2%;
    }

    #etiqueta_izq_dataentry{
        width: 61%;
        left: -3.1%;
    }

    #etiqueta_izq_paracaidas{
        width: 65%;
        left: -3.7%;
    }

    #etiqueta_der_paracaidas{
        width: 77%;
        right: -4.4%;
    }

/* Giro de cartas */
/* flip the pane when hovered */
    .contenedor_flip, .carta_adelante, .carta_atras {
        height: 8.5em;
    }

    .contenedor_flip_grande, .carta_adelante_grande, .carta_atras_grande{
        height: 19em;
    }

/*portfolio*/
    #portfolio_imagenes img{
        width: 100%;
        max-width: 100%;
    }

    #portfolio_behance a{
        padding: 0.4em 0.3em 0.4em 0.3em;
        max-width: 200px;
    }

    #portfolio_behance img{
        width: 14%;
    }

    #portfolio_behance h5{
        font-size: 1em;
        color: #336699;
        padding-left: 0.3em;
        padding-bottom: 0em;
    }

/*pdf*/
    #pdf{
        background-color: #f7f7f7;
        z-index: 2;
        padding: 1.5em;
    }

    a.pdf_descarga{
        border-width: 0.15em;
        padding: 0.6em 1.3em;
        font-size: 0.95em;
        max-width: 200px;
    }

/*footer*/
    #footer nav ul li:first-child{
        padding-right: 3.5em;
    }

    #footer nav ul li:last-child{
        padding-left: 3.5em;  
    }

}