@charset "utf-8";

/* GENERAL */
*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

body{
    color: #3A3A3A;
    margin: auto;
    margin-top: 5.2em;
}

main{
    text-align: center;
    margin: auto;
    margin-top: -6em;
    -webkit-text-size-adjust:100%
}

footer{
    background-color: #f8f8f8; 
    color: #8ebfbe;
}

/* GENERAL */

/* PORTRAIT */
/* HEADER */
header{
    color: #336699;
    background-color: #fafafa;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 5;
    border-bottom-style: solid;
    border-bottom-color: #bcbcbc;
    border-bottom-width: 3px;
}

header nav ul{
    height: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_izquierda,
#header_derecha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.header img{
    width: 3.8em;
}

#contenedor_titulo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#titulo_seccion{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

p.titulo_menu{
    display: none;
}

li.header img:hover,
li.header img:active {
    opacity: 0.5;
}
/* HEADER */

/* MAIN */
/* Perfil - Presentación */
#perfil{
    position: relative;
    padding-top: 9%;
    background-color: #f7f7f7;
    border-bottom: solid;
    border-color: #333399;
}

#presentacion{
    margin: 0em 3em 0em 3em;
}

#presentacion h1{
    color: #FF6633;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 5em;
}

#nombres{
    margin: 2em 1.5em 0em 1.5em;
}

#apellidos{
    margin: -0.1em 1.5em 0.1em 1.5em;
}

#presentacion h1 span{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #FF9966;
}

#presentacion h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 4em;
    color: #FF6633;
    margin: auto;
}

#presentacion figure img{
    margin: 7em 3em 2em 3em;
    height: auto;
    width: 70%;
    border-radius: 1.5em;
    border-style: solid;
    border-width: 0.08em;
    border-color: #99CC33;
    -webkit-box-shadow: 2px 2px 11px 0px rgba(84,84,84,0.55);
    -moz-box-shadow: 2px 2px 11px 0px rgba(84,84,84,0.55);
    box-shadow: 2px 2px 11px 0px rgba(84,84,84,0.55);
}

#presentacion figcaption p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 4.5em;
}

/* Perfil - Datos */
#datos{
    margin-top: 9em;
    margin-bottom: 10em;
    width: 100%;
}

#datos nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 5em;
    padding-right: 5em;
}

#datos a{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.4em;
    margin-bottom: 1.5em;
}

#datos a:first-child{
    border-right-style: solid;
    border-right-width: 0.05em;
    border-right-color: #333399;
    padding-right: 0.5em;
}

#datos a:last-child{
    padding-left: 0.5em;
}

/* Conocimientos */
#conocimientos{
    padding-top: 6em;
    background-color: #f0f0f0;
}

ul.conocimientos{
    width: 70%;
    display: inline-block;
    margin-top: 9%;
    margin-bottom: 12%;
}

li.fila_conocimiento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.7em;
}

ul.conocimientos li figure{
    display:inline-flex;  
    align-items: center;
}

ul.conocimientos figcaption{
    padding-left: 0.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
}

div.unacara,
div.doscaras,
div.trescaras{
    width: 149px;
    height: 43px;
    background-image: url("../img/3caras.png");
    background-repeat: no-repeat;
}

div.unacara{
    background-position: -105px;
}

div.doscaras{
    background-position: -53px;
}

hr.divisor_categoria{
    width: 75%;
    margin: 1em 0em 1em 12.5%;
    border-style: solid;
    border-color: #333399;
}
        
hr.separador_subseccion{
    width: 20%;
    margin-left: 40%;
    border-style: solid;
    border-color: #333399;
}

/* Formación */
#formacion{
    position: relative;
    background-color: #f0f0f0;
    z-index: 3;
    padding-bottom: 3em;
    padding-top: 5em;
    border-bottom-style: solid;
    border-bottom-color: #333399;
}

#formacion::before {
    /* línea vertical */
    content: '';
    position: absolute;
    top: 9em;
    height: 74%;
    width: 0.2em;
    background: #99CC66;
    transform: translate(-50%);
}

div.contenedor_timeline{
    position: relative;
    margin: 3.5em;
}

div.circulo_timeline{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

div.circulo_timeline figure{
    display: inline-flex;
    align-items: center;
    transform: translate(26%);
}

figcaption.fecha,
figcaption.fecha_izquierda{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}

figcaption.fecha{
    margin-left: 1.7em;
}

figcaption.fecha_izquierda{
    margin-right: 1.8em;
}

#primera_esfera{
    transform: translate(-27%);
}

div.contenido_timeline{
    position: relative;
    width: 40%;
    border-width: 0.1em;
    border-color: #333399;
}

div.contenido_izquierda{
    border-left-style: solid;
    margin-left: 1em;
    text-align: left;
    padding-left: 2em;
}

div.contenido_derecha{
    border-right-style: solid;
    margin-left: 60%;
    text-align: right;
    padding-right: 2em;
}

div.contenido_timeline h2{
    color: #FF6633;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    padding-bottom: 0.2em;
    line-height: 1.2em;
}

div.contenido_timeline h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    padding-bottom: 0.4em;
}

div.contenido_timeline p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}

.shake{
    -webkit-animation-name: shake;
    -webkit-animation-duration: 5s;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.shake:nth-child(2){
    -webkit-animation-delay: 2s;
}

.shake:nth-child(5){
    -webkit-animation-delay: 3s;
}

.shake:nth-child(4){
    -webkit-animation-delay: 4s;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: rotate(0deg); } 
    3% { -webkit-transform: rotate(-6deg); }
    6% { -webkit-transform: rotate(6deg); }
    9% { -webkit-transform: rotate(-4deg); }
    12% { -webkit-transform: rotate(4deg); }
    15% { -webkit-transform: rotate(-2deg); }
    18% { -webkit-transform: rotate(2deg); }
    21%, 100% { -webkit-transform: rotate(0deg); }
}

/* Proyectos */
#proyectos{
    background-color: #f7f7f7;
    z-index: 2;
    padding-top: 11em;
    padding-bottom: 6em;
    border-bottom-style: solid;
    border-bottom-color: #333399;
}

#contenedor_proyectos{
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    height: auto;
}

div.contenido_filas:first-child{
    margin-top: 0em;
}

div.contenido_filas{
    display: flex;
    margin-top: 3em;
}

div.filas_desktop_proyectos{
    margin-bottom: 3em;
}

div.contenido_filas div{
    border-radius: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
}

div.proyectos_izquierda{
    width: 47%;
    margin-right: 3%;
    position: relative;
}

div.proyectos_derecha{
    width: 47%;
    margin-left: 3%;
    position: relative;
}

div.proyectos_arriba{
    position: absolute;
    top: 0;
    width: 100%;
}

div.proyectos_abajo{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* proyectos grandes */
img.etiqueta_izq_grandes{
    height: 22%;
    position: absolute;
    top: 10%;
    left: -6%;
}

img.etiqueta_der_grandes{
    height: 18%;
    position: absolute;
    bottom: 5%;
    right: -5.5%;
}

.etiqueta_izq_grandes_atras{
    position: absolute;
    top: 10%;
    right: -2%;
    height: 19%;
}

.etiqueta_der_grandes_atras{
    position: absolute;
    bottom: 8%;
    left: -2%;
    height: 17%;    
}

div.proyectos_grandes{
    background-color: #f7f7f7;
    height: 40em;
    -webkit-box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
}

div.proyectos_grandes h4{
    color: #FF6633;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.3em;
    position: absolute;
    top: 11%;
    left: 3%;
}

div.proyectos_grandes h5{
    position: absolute;
    top: 19%;
    left: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

div.proyectos_grandes h6{
    position: absolute;
    bottom: 16%;
    right: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin-top: 5em;
}

div.proyectos_grandes p{
    position: absolute;
    bottom: 10%;
    right: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
}

#datos_extra_tourette{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.2em;
    position: absolute;
    margin: 1em;
    left: 10%;
    top: 25%;
    text-align: left;
}

/* proyectos medianos */
img.etiqueta_izq_medianos{
    height: 38%;
    position: absolute;
    top: 10%;
    left: -6%;
    z-index: 1;
}

.etiqueta_izq_medianos_atras{
    position: absolute;
    right: -2%;
    top: 10%;
    z-index: 3;
    height: 39%;
}

.etiqueta_izq_medianos_atras_dosrenglones{
    height: 48%;
}

h4.titulo_dosrenglones{
    width: 75%;
}

h5.tipo_dosrenglones{
    padding-top: 1.75em;
}

div.proyectos_medianos{
    background-color: #f7f7f7;
    height: 18.5em;
    -webkit-box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
}

div.proyectos_medianos h4{
    color: #FF6633;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
    position: absolute;
    top: 12%;
    left: 3%;
    text-align: left;
    z-index: 1;
}

div.proyectos_medianos h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.7em;
    position: absolute;
    top: 26%;
    left: 3%;
    z-index: 1;
}

div.proyectos_medianos h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.7em;
    margin-top: 2em;
    position: absolute;
    bottom: 24%;
    right: 8%;
    z-index: 3;
}

div.proyectos_medianos p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    position: absolute;
    bottom: 13%;
    right: 8%;
    z-index: 3;
}

div.proyectos_medianos h7{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.7em;
    text-align: left;
    left: 10%;
    top: 10%;
    width: 75%;
}

/* proyectos largos */
img.etiqueta_izq_largos{
    height: 41%;
    position: absolute;
    top: 10%;
    left: -6%;
}

img.etiqueta_der_largos{
    height: 35%;
    position: absolute;
    bottom: 5%;
    right: -5.5%;
}

div.proyectos_centro{
    width: 100%;
    height: auto;
    position: relative;
}

div.proyectos_largos{
    background-color: #f7f7f7;
    height: 20em;
    -webkit-box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.5);
}

div.proyectos_largos h4{
    color: #FF6633;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.3em;
    position: absolute;
    top: 12%;
    left: 3%;
}

div.proyectos_largos h5{
    position: absolute;
    top: 26%;
    left: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

div.proyectos_largos h6{
    position: absolute;
    bottom: 25%;
    right: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin-top: 5em;
}

div.proyectos_largos p{
    position: absolute;
    bottom: 13%;
    right: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
}

#hacerfuego_proyectos{
    background-image: url(../img/hacerfuego_proyectos.jpg);
    z-index: 2;
}

#etiqueta_izq_hacerfuego{
    width: 83%;
    height: 58%;
    left: -4.7%;
}

#virus_proyectos{
    background-image: url(../img/virus_proyectos.jpg);
    background-position: left;
}

#etiqueta_izq_virus{
    width: 67%;
    left: -4%
}

#tiempoausente_proyectos{
    background-image: url(../img/tiempoausente_proyectos.jpg);
}

#etiqueta_izq_tiempoausente{
    width: 97%;
    left: -5.5%;
}

#etiqueta_der_tiempoausente{
    width: 98%;
    right: -5.8%;
}

#hacefeliz_proyectos{
    background-image: url(../img/hacefelizaungato_proyectos.jpg);
    background-size: cover;
    background-position: center;
}

#etiqueta_izq_hacefeliz{
    width: 62%;
    left: -3.6%;
}

#etiqueta_der_hacefeliz{
    width: 35%;
    right: -2%;
}

#tourette_proyectos{
    background-image: url(../img/tourette_proyectos.jpg);
}

#etiqueta_izq_tourette{
    width: 65%;
    left: -4%;
}

#etiqueta_der_tourette{
    width: 80%;
    right: -4.7%;
}

#paraiso_proyectos{
    background-image: url(../img/paraiso_proyectos.jpg);
    background-position: right;
}

#etiqueta_izq_paraiso{
    width: 47%;
    left: -2.9%;
}

#doblefantasia_proyectos{
    background-image: url(../img/doblefantasia_proyectos.jpg);
    background-position: left;
}

#etiqueta_izq_doblefantasia{
    width: 83%;
    left: -4.5%;
}

#suenaluz_proyectos{
    background-image: url(../img/suenaluz_proyectos.jpg);
}

#etiqueta_izq_suenaluz{
    width: 34%;
    left: -2%;
}

#etiqueta_der_suenaluz{
    width: 56%;
    right: -3.2%;
}

#seminario_proyectos{
    background-image: url(../img/seminario_proyectos.jpg);
}

#etiqueta_izq_seminario{
    width: 77%;
    height: 59%;
    left: -4.5%;
}

#yogui_proyectos{
    background-image: url(../img/yogui_proyectos.jpg);
}

#etiqueta_izq_yogui{
    width: 80%;
    height: 43%;
    left: -4.7%;
}

#enlalluvia_proyectos{
    background-image: url(../img/enlalluvia_proyectos.jpg);
    background-position: left;
}

#etiqueta_izq_enlalluvia{
    width: 80%;
    left: -4.5%;
}

#etiqueta_der_enlalluvia{
    height: 28%;
    width: 100%;
    bottom: 3%;
    right: -6%;
}

h6.rol_dosrenglones{
    text-align: right;
}

#cactusenserie_proyectos{
    background-image: url(../img/cactusenserie_proyectos.jpg);
    background-position: center;
}

#etiqueta_izq_cactus{
    width: 50%;
    left: -3%;
}

#etiqueta_der_cactus{
    width: 53%;
    right: -3%;
}

#cvonline_proyectos{
    background-image: url(../img/cvonline_proyectos.jpg);
    background-position: right;
}

#etiqueta_izq_cvonline{
    width: 68%;
    left: -4%;
}

#etiqueta_der_cvonline{
    width: 87%;
    right: -5.2%;
}

#voluntariado_proyectos{
    background-image: url(../img/voluntariado_proyectos.jpg);
    background-position: bottom;
}

#etiqueta_izq_voluntariado{
    width: 90%;
    left: -4.8%;
}

#dataentry_proyectos{
    background-image: url(../img/dataentry_proyectos.jpg);
}

#etiqueta_izq_dataentry{
    width: 75%;
    left: -4.3%;
}

#paracaidas_proyectos{
    background-image: url(../img/paracaidas_proyectos.jpg);
}

#etiqueta_izq_paracaidas{
    width: 38%;
    left: -2.2%;
}

#etiqueta_der_paracaidas{
    width: 63%;
    right: -3.8%;
}

/* Giro de cartas */
/* entire container, keeps perspective */
.contenedor_flip,
.contenedor_flip_grande{
	perspective: 1000px;
}

/* flip the pane when hovered */
.contenedor_flip:hover .flipper,
.contenedor_flip.hover .flipper {
    transform: rotateY(180deg);
}

.contenedor_flip_grande:hover .flipper_grande, .contenedor_flip_grande.hover .flipper_grande{
    transform: rotateY(180deg);
}

.contenedor_flip, .carta_adelante, .carta_atras {
	width: 100%;
	height: 18.5em;
}

.contenedor_flip_grande, .carta_adelante_grande, .carta_atras_grande{
    height: 40em;
    width: 100%;
}

/* flip speed goes here */
.flipper, .flipper_grande {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.carta_adelante, .carta_atras, .carta_adelante_grande, .carta_atras_grande {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.carta_adelante, .carta_adelante_grande {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.carta_atras, .carta_atras_grande {
	transform: rotateY(180deg);
    background-color: rgba(209, 209, 209, 0.75);
}


/* animación cartas clickeables */
.zoomin{
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

.zoomin_primeros{
    -webkit-animation-delay: 0s;
}

.zoomin_segundos{
    -webkit-animation-delay: 0.5s;
}

.zoomin_terceros{
    -webkit-animation-delay: 1s;
}

.zoomin:hover{
    animation-play-state: paused;
}

@-webkit-keyframes zoomin {
    0% { -webkit-transform: scale(1) } 
    4% { -webkit-transform: scale(1.02); }
    8% { -webkit-transform: scale(1); }
    12% { -webkit-transform: scale(1.01); }
    16%, 100% { -webkit-transform: scale(1); }
}


/* Portfolio */
#portfolio{
    background-color: #f0f0f0;
    z-index: 2;
    border-bottom-style: solid;
    border-bottom-color: #333399;
    padding-top: 10em;
    padding-bottom: 6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
    height: auto;
}

img.portfolio_imagenes{
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    margin-bottom: 2em;
    opacity: 1;
}

figure.portfolio_proyectos{
    display: table;
    border-color: #99CC66;
    border-style: solid;
    border-width: 0.4em;
    border-radius: 1.7em;
    margin: 0% 10% 0% 10%;
    background-color: #f8f8f8;
    min-width: 5em;
}

.portfolio_proyectos img,
.portfolio_proyectos figcaption{
    display: table-row;
    vertical-align: bottom;
    text-align: left;
}

.portfolio_proyectos_texto a,
.portfolio_proyectos_texto p{
    margin-left: 1em;
    margin-right: 1em;
}

.portfolio_proyectos_texto a{
    color: #FF6633;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.portfolio_titulos{
    font-size: 2.7em;
    text-decoration: none;
}

p.portfolio_tipo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.7em;
}

p.portfolio_rol,
p.portfolio_año{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p.portfolio_rol{
    font-size: 2.7em;
    margin-top: 2em;
    padding-top: 0.5em;
    border-top-style: solid;
    border-top-color: #99CC66;
    border-top-width: 0.05em;
}

p.portfolio_año{
    font-size: 2.2em;
    padding: 0.3em 0.2em 1em 0.2em;
}

#portfolio_behance a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    margin-left: 27%;
    border-radius: 1.1em;
    border-style: solid;
    border-color: #336699;
    border-width: 0.25em;
    text-decoration: none;
    padding: 1.2em 0.5em 1.2em 0.5em;
    width: 46%;
}

#portfolio_behance img{
    width: 15%;
    height: auto;
}

#portfolio_behance h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: #336699;
    padding-left: 0.2em;
}   
/* PORTFOLIO */

/* PDF */
#pdf{
    background-color: #f7f7f7;
    z-index: 2;
    padding: 2em;
}

a.pdf_descarga{
    display: flex;
    justify-content: center;
    border-radius: 0.5em;
    border-color: #336699;
    border-style: solid;
    border-width: 0.12em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 25.5%;
    padding: 0.5em 1em 0.5em 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    text-decoration: none;
    color: #336699;
    width: 49%;
}
/* PDF */
/* MAIN */

/* FOOTER */
#footer{
    color: #336699;
    background-color: #fafafa;
    width: 100%;
    height: auto;
    border-top-style: solid;
    border-top-color: #bcbcbc;
    border-top-width: 0.2em;
}

#footer nav ul{
    display: flex;
    justify-content: center;
    padding: 2em 0em;
}

#footer nav ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

#footer nav ul li:first-child{
    border-right-color: #333399;
    border-right-style: solid;
    padding-right: 0.5em;
}

#footer nav ul li:last-child{
    padding-left: 0.5em;  
}
    
/* FOOTER */  
    
/* RESPONSIVE LANDSCAPE */

@media screen and (orientation:landscape) {
/*header*/ 
    header nav ul{
        height: 3.5em;
    }

    .header a img{
        width: 2.4em;
    }

    #titulo_seccion{
        font-size: 2em;
    } 

/*perfil*/
    #perfil{
        padding-top: 3%;
    }

    #presentacion h1{
        width: 50%;
        height: auto;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 3em;
    }

    #presentacion h2{
        font-size: 1.3em;
    }

    #presentacion figure img{
        margin: 4em 3em 1em 3em;
        width: 40%;
    }

    #presentacion figcaption p{
        font-size: 0.7em;
    }

    #datos{
        margin-top: 6em;
        margin-bottom: 2em;
    }

    #datos nav{
        padding-left: 5.5em;
        padding-right: 5.5em;
    }

    #datos a{
        font-size: 1.4em;
        margin-bottom: 2.5em;
    }

 /*conocimientos*/
    #conocimientos{
        padding-top: 2em;
    }

    ul.conocimientos{
        width: 55%;
        max-width: 55%;
    }

    li.fila_conocimiento{
        padding-bottom: 0.3em;
    }

    ul.conocimientos figcaption{
        padding-left: 0.4em;
        font-size: 1.4em;
    }

    .fila_conocimiento figure img{
        width: 2.5em;
        height: auto;
    }

    div.unacara,
    div.doscaras,
    div.trescaras{
        width: 78px;
        height: 23px;
        background-size: contain;
    }

    div.unacara{
        background-position: -54px;
    }

    div.doscaras{
        background-position: -27px;
    }

    hr.divisor_categoria{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    hr.separador_subseccion{
        width: 10%;
        margin-left: 45%;
        margin-top: 0em;
    }        

/*formación*/
    #formacion{
        padding-top: 3em;
    }

    #formacion::before {
        /* línea vertical */
        top: 8em;
        height: 65%;
    }

    div.contenedor_timeline{
        max-width: 80%;
        margin: 3em auto;
    }

    figcaption.fecha,
    figcaption.fecha_izquierda{
        font-size: 1em;
    }

    div.contenido_timeline{
        width: 35%;
    }

    div.contenido_timeline h2{
        font-size: 1.5em;
    }

    div.contenido_timeline h3{
        font-size: 1.1em;
    }

    div.contenido_timeline p{
        font-size: 1em;
    }

    #primera_esfera img{
        width: 35%;
        height: auto;
    }

    #primera_esfera{
        transform: translate(-12%);
    }

    #circulo_after,
    #circulo_ilse{
        top: 0;
        left: 50%;
        transform: translate(-43.5%);
        z-index: 3;
    }

    #circulo_after img,
    #circulo_ilse img{
        width: 35%;
        height: auto;
    }

    .circulo_chico img{
        width: 55%;
        height: auto;
    }

 /*proyectos*/
    #proyectos{
        padding-top: 7em;
        padding-bottom: 7em;
        height: auto;
    }

    div.filas_desktop_proyectos{
        margin-bottom: 2em;
    }

    #contenedor_proyectos{
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        height: 100%;
    }

    div.contenido_filas{
        display: block;
        position: relative;
        height: 39em;
        margin-bottom: 0em;
        margin-top: 0em;
    }

    div.contenido_filas_largos{
        display: block;
        height: 11em;
        margin-top: 0em;
        margin-bottom: 2em;
    }

    div.proyectos_izquierda,
    div.proyectos_derecha,
    div.proyectos_centro{
        width: 45em;
        height: 11em;
        margin: auto;
    }

    div.proyectos_arriba{
        height: 11em;
        margin-left: 0em;
        margin-bottom: 1em;
    }

    div.proyectos_abajo{
        height: 11em;
        margin-left: 0em;
    }

    div.proyectos_grandes,
    div.proyectos_medianos,
    div.proyectos_largos{
        height: 11em;
        margin: auto;
    }

    div.proyectos_landscape_top,
    div.proyectos_landscape_tourette{
        position: relative;
        top: 0em;
    }

    div.proyectos_landscape_center{
        position: relative;
        top: 1em;
    }

    div.proyectos_landscape_bottom{
        position: relative;
        top: 15em;
    }

    div.proyectos_landscape_center_medianos{
        position: relative;
        top: 2em;
    }

    div.proyectos_landscape_bottom_medianos{
        position: relative;
        top: 3em;
    }

/*proyectos grandes */
    img.etiqueta_izq_grandes,
    img.etiqueta_izq_medianos,
    img.etiqueta_izq_largos{
        position: absolute;
        top: 9%;
        height: 58%;
        margin-left: 1.3%;
    }

    img.etiqueta_der_grandes,
    img.etiqueta_der_largos{
        height: 48%;
        bottom: 9%;
        margin-right: 2.8%;
    }

    .etiqueta_izq_grandes_atras,
    .etiqueta_izq_medianos_atras{
        height: 27%;
    }

    .etiqueta_der_grandes_atras{
        height: 30%;    
    }

    div.proyectos_grandes h4,
    div.proyectos_medianos h4,
    div.proyectos_largos h4{
        font-size: 1.6em;
        top: 13%;
    }

    div.proyectos_grandes h5,
    div.proyectos_medianos h5,
    div.proyectos_largos h5{
        font-size: 1.4em;
        top: 33%;
    }

    div.proyectos_grandes h6,
    div.proyectos_largos h6{
        font-size: 1.4em;
        bottom: 38%;
    }

    div.proyectos_grandes p,
    div.proyectos_largos p{
        font-size: 1.3em;
        bottom: 20%;
    }

    #datos_extra_tourette{
        font-size: 1.5em;
        width: 70%;
        left: 15%;
        top: 15%;
    }

/* proyectos medianos */
    .etiqueta_izq_medianos_atras_dosrenglones{
        height: auto;
    }

    h4.titulo_dosrenglones{
        width: auto;
    }

    h5.tipo_dosrenglones{
        padding: 0em;
    }

    div.proyectos_medianos h6{
        font-size: 1.4em;
        bottom: 30%;
    }

    div.proyectos_medianos p{
        font-size: 1.3em;
        bottom: 13%;
    }

    div.proyectos_medianos h7{
        font-size: 1.6em;
        top: 14%;
    }

    #etiqueta_izq_hacerfuego{
        width: 49%;
        height: 58%;
        left: -3.9%;
    } 

    #virus_proyectos{
        background-position: top;
    }

    #etiqueta_izq_virus{
        width: 31%;
        left: -2.9%
    }

    #tiempoausente_proyectos{
        background-position: bottom;
    }

    #etiqueta_izq_tiempoausente{
        width: 38%;
        left: -3.5%;
    }

    #etiqueta_der_tiempoausente{
        width: 39%;
        right: -4.7%;
    }

    #etiqueta_izq_hacefeliz{
        width: 46%;
        left: -3.8%;
    }

    #etiqueta_der_hacefeliz{
        width: 26%;
        right: -4%;
    }

    #tourette_proyectos{
        background-position: center;
    }

    #etiqueta_izq_tourette{
        width: 26%;
        left: -2.8%;
    }

    #etiqueta_der_tourette{
        width: 31%;
        right: -4.3%;
    }

    #etiqueta_izq_paraiso{
        width: 23%;
        left: -2.6%;
    }

    #etiqueta_izq_doblefantasia{
        width: 36%;
        left: -3.3%;
    }

    #etiqueta_izq_suenaluz{
        width: 27%;
        left: -2.8%;
    }

    #etiqueta_der_suenaluz{
        width: 46%;
        right: -5.2%;
    }

    #seminario_proyectos{
        background-position: left;
    }

    #etiqueta_izq_seminario{
        width: 54%;
        height: 58%;
        left: -4.3%;
    }

    #etiqueta_izq_yogui{
        width: 35%;
        height: 57%;
        left: -3.3%;
    }

    #yogui_h4{
        line-height: 1.3em;
    }

    #enlalluvia_proyectos{
        background-position: left;
    }

    #etiqueta_izq_enlalluvia{
        width: 31%;
        left: -2.9%;
    }

    #etiqueta_der_enlalluvia{
        width: 50%;
        height: 48%;
        bottom: 8%;
        right: -5.3%;
    }

    #etiqueta_izq_cactus{
        width: 39%;
        left: -3.5%;
    }

    #etiqueta_der_cactus{
        width: 44%;
        right: -5.2%;
    }

    #etiqueta_izq_cvonline{
        width: 27%;
        left: -2.8%;
    }

    #etiqueta_der_cvonline{
        width: 34%;
        right: -4.6%;
    }

    #voluntariado_proyectos{
        background-position: center;
    }

    #etiqueta_izq_voluntariado{
        width: 40%;
        left: -3.7%;
    }

    #etiqueta_izq_dataentry{
        width: 33%;
        left: -3.3%;
    }

    #paracaidas_proyectos{
        background-position: center;
    }

    #etiqueta_izq_paracaidas{
        width: 30%;
        left: -2.9%;
    }

    #etiqueta_der_paracaidas{
        width: 50%;
        right: -5.4%;
    }

    /* Giro de cartas */
    /* flip the pane when hovered */
    .contenedor_flip:hover .flipper,
    .contenedor_flip.hover .flipper {
        transform: rotateX(180deg);
    }

    .contenedor_flip_grande:hover .flipper_grande, .contenedor_flip_grande.hover .flipper_grande{
        transform: rotateX(180deg);
    }

        .contenedor_flip, .carta_adelante, .carta_atras,
        .contenedor_flip_grande, .carta_adelante_grande, .carta_atras_grande{
            width: 100%;
            height: 11em;
        }


    /* flip speed goes here */
    .flipper, .flipper_grande {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    /* hide back of pane during swap */
    .carta_adelante, .carta_atras, .carta_adelante_grande, .carta_atras_grande {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* front pane, placed above back */
    .carta_adelante, .carta_adelante_grande {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .carta_atras, .carta_atras_grande {
        transform: rotateX(180deg);
        background-color: rgba(209, 209, 209, 0.75);
    }

    .carta_atras_hacerfuego{
        background-image: url(../img/hacerfuego_proyectos_landscape.jpg);
        background-position: left;
    }

    .carta_atras_virus{
        background-image: url(../img/virus_proyectos_landscape.jpg);
        background-position: bottom;
    }

    .carta_atras_tourette{
        background-image: url(../img/tourette_proyectos_landscape.jpg);
    }

    .carta_atras_paraiso{
        background-image: url(../img/paraiso_proyectos_landscape.jpg);
    }

    .carta_atras_doblefantasia{
        background-image: url(../img/doblefantasia_proyectos_landscape.jpg);
        background-position: top;
    }

    .carta_atras_seminario{
        background-image: url(../img/seminario_proyectos_landscape.jpg);
        background-position: bottom;
    }

    .carta_atras_yogui{
        background-image: url(../img/yogui_proyectos_landscape.jpg);
        background-position: bottom;
    }

    .carta_atras_voluntariado{
        background-image: url(../img/voluntariado_proyectos_landscape.jpg);
        background-position: bottom;
    }

    .carta_atras_dataentry{
        background-image: url(../img/dataentry_proyectos_landscape.jpg);
        background-position: bottom;
    }

/*portfolio*/
    #portfolio{
        padding-top: 7em;
        padding-bottom: 4em;
        height: auto;
        background-position: center;
    }

    img.portfolio_imagenes{
        width: 100%;
        max-width: 100%;
        margin-bottom: 1.2em;
    }

    figure.portfolio_proyectos{
        margin: 0% 10% 0% 10%;
        max-width: 80%;
        border-width: 0.2em;
        height: 20em;
    }

    .portfolio_proyectos_texto a,
    .portfolio_proyectos_texto p{
        margin-left: 0.8em;
        margin-right: 0.8em;
    }

    a.portfolio_titulos{
        font-size: 1.7em;
    }

    a.portfolio_titulos img{
        width: 8%;
        max-width: 8%;
    }

    p.portfolio_tipo{
        font-size: 1.7em;
    }

    p.portfolio_rol{
        font-size: 1.5em;
    }

    p.portfolio_año{
        font-size: 1.3em;
    }

    #portfolio_titulo_seminario{
        font-size: 1.5em;
        padding-bottom: 0.2em;
    }
     
    #portfolio_behance a{
        margin-top: 6em;
        margin-left: 36%;
        padding: 0.7em 0.7em 0.7em 0.7em;
        width: 28%;
    }

    #portfolio_behance img{
        width: 11%;
        height: auto;
    }

    #portfolio_behance h5{
        font-size: 1.5em;
        padding-left: 0.2em;
    }   

/*pdf*/
    #pdf{
        padding: 1.5em;
    }

    a.pdf_descarga{
        border-radius: 0.6em;
        border-width: 0.17em;
        margin-top: 1.2em;
        margin-bottom: 1.2em;
        margin-left: 35%;
        padding: 0.4em 0.2em 0.4em 0.2em;
        font-size: 1.5em;
        width: 30%;
    }

/*footer*/
    #footer nav ul{
        padding: 1.5em 0em;
    }

    #footer nav ul li{
        font-size: 1.4em;
    }

    #footer nav ul li:first-child{
        padding-right: 1.7em;
    }

    #footer nav ul li:last-child{
        padding-left: 1.7em;  
    }
}